.card-title-text {
    padding-left: 10px;
}

.card-side-image {
    width: 100%;
}

.card-side-image-style {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;  
    object-fit: cover;

}

.card-top-image-style {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;  
    object-fit: cover;  
}

.card-content-text {
    text-align: left;
    font-size: 1em;
}

.card-style {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card-content {
    width: 100%;
}

@media only screen and (min-width: 550px) {
    .card-style {
        width: 75%;
        flex-direction: row;
    }
}

/* card content styling */
.content-table-no-border {
    border: none;
}

.content-button-image {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
}

.content-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content-item {
    margin: 10px;
}