.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-image-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text-small {
    font-size: 1em;
    color: white;
}

.header-text-large {
    font-size: 3em;
    color: white;
    font-weight: bolder;
}

.header-date-text {
    color: black;
    padding: 50px;
}

@media only screen and (min-width: 550px) {
    .header-image-title {
        flex-direction: row;
    }

    .header-text-large {
        padding: 10px;
    }

    .header-text-large {
        font-size: 4em;
        color: white;
        font-weight: bolder;
    }
}