.nav-bar-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    right: 0;
    z-index: 2;
}

.nav-bar-mobile-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    right: 0;
    z-index: 2;
}

.nav-bar-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.nav-item-mobile {
    height: 3em !important;
    width: 3em !important;
}

.nav-bar-mobile-menu {
    position: fixed;
    top: 55px;
    z-index: 2;
    width: 100%;
}

.navbar-icon {
    top: 3px;
    height: 3em !important;
    width: 3em !important;
    position: fixed;
    /* right: calc(50% - 1.5em); */
    cursor: pointer;
}

.navbar-icon-mobile {
    top: 2px;
    height: 4em !important;
    width: 4em !important;
    position: fixed;
}

.nav-bar-selected {
    text-decoration: underline;
}

.nav-bar-mobile-menu-item {
    font-size: 2em;
    display: flex;
}

.nav-bar-mobile-menu-header {
    display: flex;
    justify-content: flex-end;
}

.nav-special-item {
    border-radius: 10px;
}

