.event-details-content-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.event-details-image-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
}

.event-detail-text-large {
    font-size: 4em;
    padding: 10px;
    font-weight: bolder;
    z-index: 1;
}

.event-detail-title-image {
    border-radius: 0.25rem;
}

@media only screen and (min-width: 550px) {
    .event-detail-title-image {
        border-radius: 0rem;
    }
}