body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fancy-font {
  font-family: 'Pacifico', cursive;
}

.regular-font {
  font-family: 'Roboto Mono', monospace;
}

.dark-image {
  filter: brightness(70%);
}

.base-color {
  color: white !important;
  border-color: white !important;
}

.base-background-color {
  background: white !important;
}

.primary-color {
  color: #6A766C !important;
  border-color: #6A766C !important;
}

.primary-background-color {
  background: #6A766C !important;
}

.accent-color {
  color: #C1695E !important;
  border-color: #C1695E !important;
}

.accent-background-color {
  background: #C1695E !important;
  color: white !important;
}

.tiertary-color {
  color: #E6C9C4 !important;
  border-color: #E6C9C4 !important;
}

.tiertary-background-color {
  background: #E6C9C4 !important;
}